<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoxPop - Open Comments Platform</title>
    <link rel="stylesheet" href="../../app/static/style.css">
</head>

<body>

    <h1>Welcome to VoxPop</h1>


    <div id="commentsContainer">
        <ul>
            {% for comment in comments %}
            <li>
                <p><strong>ID:</strong> {{ comment.id }}</p>
                <p><strong>Context:</strong> {{ comment.context }}</p>
                <p><strong>Date:</strong> {{ comment.comment_date }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>

</body>

</html>