<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoxPop - Open Comments Platform</title>
    <link rel="stylesheet" href="../../app/static/style.css">

</head>

<body>

    <h1>Welcome to VoxPop</h1>

    <!-- Form for submitting comments -->
    <form action="/comments/new" method="post">
        <label for="username">Name:</label>
        <input type="text" name="username" required>

        <label for="commentText">Comment:</label>
        <input type="text" name="commentText" required>

        <label for="commentCategory">Category:</label>
        <select id="commentCategory" name="commentCategory">
            <option value="Positive">Positive</option>
            <option value="Negative">Negative</option>
        </select>

        <button type="submit">Submit</button>
    </form>

    <br>

    <!-- Form for filtering comments by category -->
    <form id="filterForm" action="/comments" method="get">
        <label for="category">Filter by Category and Time:</label>
        <select name="category">
            <option value="All">All</option>
            <option value="Positive">Positive</option>
            <option value="Negative">Negative</option>
        </select>
        <select name="sort">
            <option value="desc">Descending</option>
            <option value="asc">Ascending</option>
        </select>
        <button type="submit">Filter</button>
    </form>


    <div id="commentsContainer">
        <ul>
            {% for comment in filtered_comments %}
            <li>
                <p><strong>ID:</strong> {{ comment.id }}</p>
                <p><strong>Name:</strong> {{ comment.name }}</p>
                <p><strong>Context:</strong> {{ comment.context }}</p>
                <p><strong>Date:</strong> {{ comment.comment_date }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <br>

    <form method="get">
        {% if page > 1 %}
            <button type="submit" name="page" value="{{ page-1 }}">Previous</button>
        {% endif %}

       {% if (page * limit) < comments|length %}
        <button type="submit" name="page" value="{{ page+1 }}">Next</button>
        {% endif %}
        
    </form>


</body>

</html>